h2 {
  background: #ae67fa;
  background: linear-gradient(to right, #ae67fa 0%, #f49867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-family);
  font-size: 34px;
  font-weight: 800;
  min-width: 9em;
  max-width: 16em;
  margin-bottom: 1rem;
}
h3 {
  color: #fff;
  position: relative;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 2rem;
}

h3::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 3rem;
  height: 3px;
  display: inline-block;
  background: #ae67fa;
  background: linear-gradient(to right, #ae67fa 0%, #f49867 100%);
}
p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
}
.what_is_gpt > div {
  background: rgb(26, 117, 217);
  background: linear-gradient(
    131deg,
    rgba(26, 117, 217, 1) 10%,
    rgba(14, 65, 120, 1) 16%,
    rgba(14, 65, 120, 1) 85%,
    rgba(26, 117, 217, 1) 99%
  );
  /* padding: 2rem 5rem; */
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
/* Center Content */
.what_is_gpt_section_center_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.what_is_gpt_section_center_content p {
  color: var(--color-subtext);
}
/* Sector of ai */
.what_is_gpt_section_sectors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.sector {
  display: flex;
  flex-direction: column;
  min-width: 20em;
  max-width: 21em;
  margin: 1rem;
}
@media screen and (width < 1200px) {
  .what_is_gpt_section_sectors {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .sector {
    display: inline-block;
  /* flex-direction: column; */
    align-items: center;
    align-content: center;
    justify-content: center;
    min-width: 15em;
    max-width: 25em;
  }
}
.what_is_gpt_section_description {
	width: 50em;
}
.what_is_gpt_section {
  padding: 3rem 1rem ;
}
@media screen and (width < 1000px) {
  .what_is_gpt_section_sectors {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;

  }

  .sector {
    /* display: flex;
  flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center; */
    min-width: 21em;
    max-width: 25em;
  }
}
